@font-face {
    font-family: 'A';
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'c';
    src: url('../fonts/Silkscreen-Bold.ttf');
}

@font-face {
    font-family: 'cd';
    src: url('../fonts/Silkscreen-Regular.ttf');
}